/target/
/**/target/
Cargo.lock
.vscode/
*.code-workspace
*.exe
*.dll
*.so
*.dylib
*.rlib
*.tmp
*.swp
*.swo
*~
*.DS_Store
**/.DS_Store
*.log
CACHEDIR.TAG
.rustc_info.json
main
*.bak
node_modules/
venv/
env/
.idea/
*.iml
*.sublime-*
!.gitignore
!ReadMe.md
